{% extends "QuesApp/base.html" %}
{% load static %}

{% block banner %}
    <img class="img2" src="{% static 'QuesApp/img/art-questionnaire.png' %}" />
{% endblock %}

{% block content-header %}
    <h1>{{object.question_text}}</h1>
{% endblock %}

{% block content %}
    {% if question.choice_set.all %}
    <ul>
        {% for choice in question.choice_set.all %}
        <li>{{choice.choice_text}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <hr>
    <a href="{% url 'vote_result' question.pk %}">check vote result</a>
{% endblock %}
