{% extends "QuesApp/base.html" %}
{% load static %}

{% block banner %}
    <img class="img1" src="{% static 'QuesApp/img/clipboardclearbackground_0.png' %}" />
{% endblock %}

{% block content-header %}
    <h1>The Questionnaire</h1>
    {% if user.is_authenticated %}
    <p><span>Hi {{ user.username}}.</span> &ensp; 
        <span><a href="{% url 'logout' %}">Logout</a></span>
    </p>
    {% else %}
    <p>
        <span><a href="{% url 'login' %}">Log In</a></span>&ensp;
        <span><a href="{% url 'my_signup' %}">Sign up</a></span>
    </p>
{% endif %}
{% endblock %}

{% block content %}
    {% if question_list %}
    <ol>
        {% for question in question_list %}
        <li>
            <a href="{% url 'question_detail' question.pk %}">{{question.question_text}}</a>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
    <div>
        <a href="{% url 'voting_start' %}">Participate the quesitonnaire</a>
    </div>

    <hr>
    {% if comment_list %}
    <ul>
        {% for comment in comment_list %}
            <li>
                <a href="{% url 'view_comment' comment.pk %}">
                    {{comment.comment_title}} by {{comment.user_name}}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div>
        <a href="{% url 'add_comment' %}">
            leave a comment
        </a> 
    </div>

{% endblock %}
